.jumbotron {
    text-align: center;
    background-image: url(./img/bg-gods.png);
    background-color: rgb(16, 15, 15, 0.7);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

#new-pantheon {
    color: goldenrod;
    margin-top: 25px;
}

body {
    background: linear-gradient(to right, #724d02, #050405, #0a090a, #724d02);
}

#app {
    color: rgb(55, 6, 55);
}

.card-header {
    background-image: url(./img/greek.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(56, 51, 1);
}

#main-card {
    background-color: rgb(11, 10, 10);
    color: rgb(132, 127, 40);
}

#innerCard {
    background-color: aliceblue;
    width: 14rem;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}