.jumbotron {
    text-align: center;
    background-image: url(./img/bg-gods.png);
    background-color: rgb(16, 15, 15, 0.7);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    font-family: 'Advent Pro', sans-serif;
    font-size: 22px;
}

h1 {
    color: #bab225;
    font-family: 'Macondo', cursive;
    text-transform: uppercase;
}

#new-pantheon {
    color: goldenrod;
    margin-top: 0.5rem;
    font-family: 'Macondo', cursive;
}

body {
    background: linear-gradient(to right, #724d02, #050405, #0a090a, #724d02);
}

#app {
    color: rgb(55, 6, 55);
}

#pantheon-name {
    font-family: 'Macondo', cursive;
}

.card-header {
    background-image: url(./img/greek.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(56, 51, 1);
    font-family: 'Macondo', cursive;
}

#main-card {
    background-color: rgb(11, 10, 10);
    color: rgb(56, 51, 1);
    font-family: 'Macondo', cursive;
}

#innerCard {
    font-family: 'Macondo', cursive;
    background-color: aliceblue;
    width: 14rem;
    color: rgb(132, 127, 40);
    display: inline-block;
}